<%- include("partials/header.ejs") %>
  <div class="signup">
    <form class="form-signin" method="post" action="/">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up to our Newsletter</h1>

      <input type="text" name="First" class="form-control top" placeholder="First Name" required autofocus>
      <input type="text" name="Last" class="form-control middle" placeholder="Last Name" required>
      <input type="email" name="Email" class="form-control bottom" placeholder="Email" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="cricket" name="cricket"> Cricket
        </label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="football"> Football
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Me Up</button>
      <p class="mt-5 mb-3 text-muted">&copy;2021</p>
    </form>
      </div>
<%- include("partials/footer.ejs") %>
