<%- include("partials/header.ejs") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Signed Up Successfully!</h1>
    <p class="lead">Thank you so much for subscribing to our newsletter!</p>
  </div>
</div>
<%- include("partials/footer.ejs") %>
